<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Жёлтая Страница</title>
    <!-- Подключаем внешний CSS файл -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- хедер -->
<%- include('blocks/header') -%>
<div class="container">
    <p>Эта страница создана с использованием жёлтых оттенков для создания яркой и позитивной атмосферы. Здесь вы можете прочитать информацию, вдохновиться ярким дизайном и почувствовать тепло солнечных тонов.</p>
    
    <p>Нажмите на кнопку ниже, чтобы узнать больше:</p>
    
    <!-- Кнопка-ссылка -->
    <a href="about"><button>О нас</button></a>
    
</div>
<form action="/check-user" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <label for="books">Предпочтения в книгах:</label>
    <select id="books" name="books" required>
        <option value="fiction">Художественная литература</option>
        <option value="nonfiction">Нон-фикшн</option>
        <option value="fantasy">Фантастика</option>
        <option value="history">История</option>
        <option value="science">Научная литература</option>
    </select>

    <button type="submit">Войти</button>
</form>



<h2>Добавить пользователя</h2>
<form action="/add-user" method="POST">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>

    <label for="favorite-genre">Любимый жанр:</label>
    <select id="favorite-genre" name="favoriteGenre" required>
        <% genres.forEach(function(genre) { %>
            <option value="<%= genre.idЖанры %>"><%= genre.Жанры %></option>
        <% }); %>
    </select>

    <button type="submit">Добавить</button>
</form>

<h2>Список пользователей</h2>
<ul>
    <% users.forEach(function(user) { %>
        <li>
            ID: <%= user.idПользователи %>, Имя: <%= user.Имя %>, Жанр: <%= user.Жанры %>
            <form action="/delete-user/<%= user.idПользователи %>" method="POST" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </li>
    <% }); %>
</ul>



</body>
</html>
